.SkillCard {
  height: 8rem;
  width: 16rem;
  padding: 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.2s ease-out;

    &:hover {
        transform: scale(1.03);
    }

  .Content {
    display: flex;
    gap: 1.5rem;
    transform: translateX(-2rem);
    height: 100%;
    transition: transform 0.5s;

    h3{
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 700;
      color: var(--dark-primary-color)
    }

    p{
      font-size: 0.8rem;
      color: var(--text-color);
    }

    p[id="experience"] {
      color: rgba(0, 0, 0, 0.6);
    }

    &:hover {
      transform: translateX(0.5rem);
    }

    img {
      max-width: 6rem;
      height: 100%;
      object-fit: contain;
      max-height: 100%;
    }
  }


  &.Dark {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.03);
  
      
  
    .Content {
  
      h3{
        font-weight: 400;
        color: white;
      }
  
      p{
        color: var(--text-color);
        font-weight: 400;
      }
  
      p[id="experience"] {
        font-weight: 300;
      }
    }
  }
  
}
