.ResumePage {
  margin-top: 10rem;
  animation: turn-page 0.5s forwards;

  .Content {
    margin: 0 auto;

    .Contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;

      li {
        div {
          display: flex;
          color: var(--secondary-color);
          svg {
            margin-right: 10px;
            font-size: 1.5rem;
            transition: width 0.1s;
          }
          a {
            &::after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: var(--primary-color);
              transition: width 0.2s;
            }
          }

          &:hover {
            a {
              &::after {
                width: 100%;
              }
            }

            svg {
              color: var(--primary-color);
            }
          }
        }
      }
    }

    .ResumeSection {
      margin-top: 3rem;
      .SectionTitle {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 4rem;

        &::after {
          content: "";
          display: block;
          width: 50px;
          height: 0.5rem;
          background-color: var(--primary-color);
          margin-top: 10px;
        }
      }
    }
  }

  .Skills {
    max-width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin-bottom: 10rem;
    justify-content: center;
  }

  &.Dark {
    .Content {
      .Contacts {
        li {
          div {
            svg {
              color: white;
              transition: color 0.2s;
            }
            a {
              color: white;
              font-weight: 300;
            }

            &:hover {
              svg {
                color: var(--primary-color);
              }
            }
          }
        }
      }

      .ResumeSection {
        .SectionTitle {
          font-weight: 500;
        }
      }
    }
  }
}
@media screen and (width <= 1535px) {
  .ResumePage {
    .Skills {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }
}
@media screen and (width <= 1280px) {
  .ResumePage {
    .Skills {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
}

@media screen and (width <= 1024px) {
  .ResumePage {
    .Contacts {
      margin: 0 auto;
      display: grid !important;
      gap: 1rem !important;
      li {
        div {
          display: flex;
          flex-wrap: nowrap !important;

          svg {
            height: 1.2rem;
          }
          a {
            font-size: 0.8rem;
          }
        }
      }
    }

    .ResumeSection {
      .SectionTitle {
        font-size: 1.75rem !important;
      }
    }

    .Skills {
      gap: 1rem;
      margin: 0;
      margin-bottom: 10rem;
    }
  }
}

@media screen and (width <= 768px) {
  .ResumePage {
    .ResumeSection {
      .SectionTitle {
        font-size: 1.5rem !important;
        margin-bottom: 2.25rem !important;
      }
    }

    .Skills {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      justify-items: center;
      gap: 0.5rem;
      margin: 0;
      margin-bottom: 10rem;
    }
  }
}

@media screen and (width <= 430px) {
  .ResumePage {
    margin: 8rem 0 0;
    .Contacts {
      width: 90%;
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem !important;
    }

    .ResumeSection {
      width: 90%;
      margin: 0 auto;
      .SectionTitle {
        font-size: 1rem !important;
        margin-bottom: 2rem !important;
      }
    }

    .Skills {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      justify-items: center;
      gap: 1rem;
      margin: 0;
      margin-bottom: 10rem;
    }
  }
}

@-webkit-keyframes turn-page {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes turn-page {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
