.ResumePage {
  margin-top: 10rem;
  animation: turn-page 0.5s forwards;

  .Content {
    margin: 0 auto;

    .Contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;

      li {
        div {
          display: flex;
          color: var(--secondary-color);
          svg {
            margin-right: 10px;
            font-size: 1.5rem;
            transition: width 0.1s;
          }
          a {
            &::after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: var(--primary-color);
              transition: width 0.2s;
            }
          }

          &:hover {
            a {
              &::after {
                width: 100%;
              }
            }

            svg {
              color: var(--primary-color);
            }
          }
        }
      }
    }

    .ResumeSection {
      margin-top: 3rem;
      .SectionTitle {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 4rem;

        &::after {
          content: "";
          display: block;
          width: 50px;
          height: 0.5rem;
          background-color: var(--primary-color);
          margin-top: 10px;
        }
      }
    }
  }

  .Skills {
    max-width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin-bottom: 10rem;
    justify-content: center;
  }

  &.Dark {
    .Content {
      .Contacts {
        li {
          div {
            svg {
              color: white;
              transition: color 0.2s;
            }
            a {
              color: white;
              font-weight: 300;
            }

            &:hover {
              svg {
                color: var(--primary-color);
              }
            }
          }
        }
      }

      .ResumeSection {
        .SectionTitle {
          font-weight: 500;
        }
      }
    }
  }
}
// 320px, 480px, 768px, 1024px, and 1200px

@media (width < 1500px) {
  .ResumePage {
    .Content {
      .Contacts {
        justify-content: center;
        gap: 2rem;
      }
    }

    .Skills {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (1280px <= width <= 1600px) or (1023px <= width <= 1060px) or (767px <= width <= 800px) or (width < 670px) {
  .ResumePage {
    .Content {
      width: 90%;
    }
  }
}

@media (width < 1280px) {
  .ResumePage {
    .Content {
      .Contacts {
        gap: 2rem;
      }
    }

    .Skills {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (width <= 900px) {
  .ResumePage {
    .Content {
      .Contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90%;
        margin: 0 auto;
        gap: 1rem;

        
      }
    }
    .Skills {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (width <= 580px) {
  .ResumePage {
   
    .Skills {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
}
@media (width <= 600px) {
  .ResumePage {
    .Content {
      .Contacts {
        li {
          div {
            gap: 0.25rem;
            svg {
              font-size: 1.2rem;
            }
            a {
              font-size: 0.8rem;
            }
          }
        }
      }
      .ResumeSection {
        margin-top: 1rem;
        .SectionTitle {
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 3rem;

          &::after {
            content: "";
            display: block;
            width: 50px;
            height: 0.5rem;
            background-color: var(--primary-color);
            margin-top: 10px;
          }
        }
      }
    }

    .Skills {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
@media (width <= 360px) {
  .ResumePage {
    margin-top: 7rem;
    .Content {
      .Contacts {
        display: block;

        li {
          margin-bottom: 0.5rem;
          div {
            gap: 0.25rem;
            svg {
              font-size: 1.2rem;
            }
            a {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes turn-page {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes turn-page {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
